<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dimasridhoni.javatestk24">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.UbahPasswordActivity"
            android:label="@string/title_ubah_password" ></activity>
        <activity android:name=".activity.ViewMemberLoginActivity"
            android:label="@string/title_view_member" />
        <activity
            android:name=".activity.ViewMemberActivity"
            android:label="@string/title_view" />
        <activity
            android:name=".activity.InputMemberActivity"
            android:label="@string/title_input" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>